<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>

</head>
<body>
<div layout:fragment="content">
    <div class="body">
        <div class="content">
            <div class="panel panel-default">
                <div class="panel-body">
                    fuck you your not changing shit right now this here gofnna get changed later!
                </div>
            </div>
        </div>

        <div th:fragment="sidebar" class="sidebar">
            <div class="panel panel-default module">
                <div class="panel-heading">Change Password</div>
                <div class="panel-body">
                    <div class="top-donator">
                        make pasword change here yes!
                    </div>
                </div>
            </div>

            <div class="panel panel-default module">
                <div class="panel-heading">Two Factor Auth</div>
                <div class="panel-body">
                    <div class="top-donator">
                        To enable two-factor authentication scan the QR code below with an authentication app of your choice and enter the time based token you receive in the box below and click continue to setup.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/gh/leonardosnt/mc-player-counter/dist/mc-player-counter.min.js"></script>
