<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Nyte</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js"></script>
</head>
<body id="page-index">
    <div class="nyte-pageContent">
        <div class="nyte-pageWrapper">
            <div class="nyte-sectionContainer">
                <div class="nyte-section section--left">
                    <div class="mask">
                        <img src="https://cdn.discordapp.com/attachments/917630475080720414/925309008166944798/2021-12-28_00.47.32.png">
                        <svg width="589" height="1080" viewBox="0 0 589 1080" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                            <path d="M7.32785 1139L584 -333.521L584 1139H7.32785Z" stroke="#F9F9F9" stroke-width="10"></path>
                            <path d="M531 -149L531 1144H24L531 -149Z" fill="#F9F9F9"></path>
                        </svg>

                    </div>
                    <div class="heading">
                        <div class="section-top">
                            <div class="nyte-navigation-trigger">
                                <button type="button" class="nyte-nav-trigger">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <a href="/" class="logo">
                                <img src="https://i.imgur.com/AS26sti.png" alt="Nyte Network">
                            </a>
                            <div class="nyte-server-status-container">
                                <div class="nyte-server-status clipboardobj" data-clipboard-text="play.nyte.cc">
                                    <div class="nyte-server-player-count">
                                        <span class="nyte-player-count counter">2</span> Players Online
                                    </div>
                                    <div class="nyte-server-ip">play.nyte.cc</div>
                                </div>
                            </div>
                        </div>
                        <div class="section-body">
                            <div class="nyte-navigation closed" style="transform: translateX(-350%);">
                                <h1 class="bold">Navigation</h1>
                                <ul class="nav navbar-nav nyte-navigation-links">
                                    <li class="animeobj" th:classappend="${#httpServletRequest.requestURI == '/' ? 'active':''}" style="transform: translateX(-300%);"><a href="/">Home</a></li>
                                    <li class="animeobj" th:classappend="${#httpServletRequest.requestURI == '/forums' ? 'active':''}" style="transform: translateX(-300%);"><a href="/forums">Forums</a></li>
                                    <li class="animeobj" th:classappend="${#httpServletRequest.requestURI == '/leaderboards' ? 'active':''}" style="transform: translateX(-300%);"><a href="/leaderboards">Leaderboards</a></li>
                                    <li class="animeobj" th:classappend="${#httpServletRequest.requestURI == '/staff' ? 'active':''}" style="transform: translateX(-300%);"><a href="/staff">Staff</a></li>
                                    <li class="animeobj" th:classappend="${#httpServletRequest.requestURI == '/famous' ? 'active':''}" style="transform: translateX(-300%);"><a href="/famous">Famous</a></li>
                                    <li class="animeobj" th:classappend="${#httpServletRequest.requestURI == '/ticket' ? 'active':''}" style="transform: translateX(-300%);"><a href="/ticket">Ticket</a></li>
                                    <li class="animeobj" th:classappend="${#httpServletRequest.requestURI == '/shop' ? 'active':''}" style="transform: translateX(-300%);"><a href="/shop">Shop</a></li>
                                </ul>
                            </div>
                            <div class="section-main" style="opacity: 1;">

                                <div class="title">
                                    <h3 th:if="${#httpServletRequest.requestURI == '/'}" class="animeobj medium minor" style="transform: translateX(0%);">Welcome To</h3>
                                    <h1 th:if="${#httpServletRequest.requestURI == '/'}" class="animeobj bold" style="transform: translateX(0%);">Nyte</h1>

                                    <h3 th:if="${#httpServletRequest.requestURI != '/'}" class="animeobj medium minor" style="transform: translateX(0%);">Exploring</h3>
                                    <h1 th:if="${#httpServletRequest.requestURI != '/'}" th:text="${#strings.arraySplit(#httpServletRequest.requestURI, '/')[0]}" class="animeobj bold" style="transform: translateX(0%);"></h1>

                                    <h3 th:if="${#httpServletRequest.requestURI != '/' and !#httpServletRequest.requestURI.startsWith('/shop') and #lists.size(#strings.arraySplit(#httpServletRequest.requestURI, '/')) != 1}" th:text="${#strings.arraySplit(#httpServletRequest.requestURI, '/')[1]}" class="animeobj medium minor" style="transform: translateX(0%);"></h3>

                                    <div th:if="${(#httpServletRequest.requestURI.startsWith('/shop') or #httpServletRequest.requestURI.startsWith('/store'))}">


                                        <a th:each="category : ${categories}" th:href="@{'/shop/' + ${category.id}}">
                                            <h3 th:text="${category.name}" class="animeobj medium minor" style="transform: translateX(0%)"></h3>
                                        </a>
                                    </div>
                                </div>

                                <div class="nyte-category-description">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nyte-section section--right">
                    <div class="container main-content">

                        <div class="nyte-header">

                            <div class="nyte-help-text bold">
                                <form method="get" action="/player/" id="search-player">
                                    <input autocomplete="off" name="name" type="text" minlength="3" maxlength="16" size="16" placeholder="Search players." />
                                </form>
                            </div>


                            <div th:if="${session.user != null}" class="nyte-user-control">
                                <a th:href="@{'/player/' + ${session.user.username}}" class="nyte-user-head">
                                    <img th:src="@{'https://visage.surgeplay.com/bust/168/' + ${session.user.identifier.toString().replace('-', '')} + '?overlay=true'}">
                                </a>
                                <div class="nyte-user-details">
                                    <span>logged in as</span>
                                    <span class="nyte-user-username" style="color:" th:styleappend="${session.profile.bestDisplayRank.siteColor}" th:text="${session.user.username}"></span>

                                    <div class="toolbar">
                                        <div class="logout">
                                            <a href="/logout" class="btn btn-primary">Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div th:if="${session.user == null}">
                                <div th:if="${(#httpServletRequest.requestURI.startsWith('/shop') or #httpServletRequest.requestURI.startsWith('/store')) and session.guest != null}" class="nyte-user-control">
                                    <th:block th:with="guest=${session.guest}">
                                        <a th:href="@{'/shop'}" class="nyte-user-head">
                                            <img th:src="@{'https://visage.surgeplay.com/bust/168/' + ${guest.identifier.toString().replace('-', '')} + '?overlay=true'}">
                                        </a>
                                        <div class="nyte-user-details">
                                            <span>logged in as guest</span>
                                            <span class="nyte-user-username text-white" th:text="${guest.username}"></span>

                                            <div class="toolbar">
                                                <div class="logout">
                                                    <a href="/logout" class="btn btn-primary">Logout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>

                                <div th:if="${!(#httpServletRequest.requestURI.startsWith('/shop') or #httpServletRequest.requestURI.startsWith('/store')) or session.guest == null}" class="nyte-user-control">
                                    <a href="/login" class="nyte-user-head">
                                        <img src="https://visage.surgeplay.com/bust/168/606e2ff0ed7748429d6ce1d3321c7838">
                                    </a>
                                    <div class="nyte-user-details">
                                        <span class="text-danger">not logged in!</span>
                                        <span class="nyte-user-username text-white">???</span>

                                        <div class="toolbar">
                                            <div class="login">
                                                <a href="/login" class="btn btn-primary">Login</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="notification">
                        </div>

                        <div class="content-block">
                            <div layout:fragment="content"></div>
                        </div>

                        <div class="nyte-section section--footer mt-5">
                            <div class="store-copyright">
                                <p>Copyright © 2022 Cubed Studios</p>
                                <p>We are not affiliated with Minecraft or Mojang</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->


    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>


    <script>
        var a = document.querySelector(".nyte-navigation"),
        b = document.querySelectorAll(".nyte-navigation-links li.animeobj"),
        c = document.querySelector(".nyte-nav-trigger"),
        d = document.querySelector(".nyte-package-overlay"),
        g = document.querySelector(".section-body .section-main"),
        h = document.querySelectorAll(".title .animeobj");

        function toggleNav()
        {
            a.classList.contains("closed") ? (anime({
                targets: a,
                translateX: 0,
                direction: "normal",
                delay: 75,
                easing: "spring(1, 60, 12, 0)"
            }), $(d).hasClass("isClosed") ? (anime({
                targets: h,
                translateX: "300%",
                color: "transparent",
                display: "none",
                direction: "normal",
                delay: anime.stagger(100),
                easing: "spring(1, 60, 12, 0)"
            }), anime({
                targets: g,
                opacity: "0",
                color: "transparent",
                display: "none",
                direction: "normal",
                duration: 300,
                delay: 200,
                easing: "easeOutSine"
            })) : anime({
                targets: d,
                opacity: "0",
                color: "transparent",
                display: "none",
                direction: "normal",
                duration: 200,
                delay: 0,
                easing: "easeOutSine"
            }), anime({
                targets: b,
                translateX: "0",
                color: "transparent",
                display: "none",
                direction: "normal",
                delay: anime.stagger(300),
                easing: "spring(1.25, 60, 12, 1.5)"
            }), a.classList.remove("closed"), setTimeout(function () {
                a.classList.remove("isAnimating")
            }, 1e3), c.classList.add("isNavOpen"), g.classList.add("isNavOpen")) : (anime({
                targets: a,
                translateX: "-350%",
                direction: "normal",
                delay: 200,
                easing: "spring(1, 60, 12, 0)"
            }), anime({
                targets: b,
                translateX: "-300%",
                color: "transparent",
                display: "none",
                direction: "normal",
                delay: anime.stagger(0),
                easing: "spring(1, 60, 12, 0)"
            }), $(d).hasClass("isClosed") ? (anime({
                targets: h,
                translateX: 0,
                color: "white",
                display: "block",
                direction: "normal",
                delay: anime.stagger(300),
                easing: "spring(1, 60, 12, 0)"
            }), anime({
                targets: g,
                opacity: "1",
                color: "white",
                display: "block",
                duration: 1e3,
                direction: "normal",
                delay: 400,
                easing: "easeOutSine"
            })) : anime({
                targets: d,
                opacity: "1",
                color: "inherit",
                display: "block",
                direction: "normal",
                duration: 300,
                delay: 300,
                easing: "easeOutSine"
            }), a.classList.add("closed"), c.classList.remove("isNavOpen"), setTimeout(function () {
                a.classList.remove("isAnimating")
            }, 1e3), g.classList.remove("isNavOpen"))
        }

        $(".nyte-nav-trigger").click(function() {
            a.classList.contains("isAnimating") || (toggleNav(), a.classList.add("isAnimating"))
        }), $(".nyte-section.section--right").click(function() {
            a.classList.contains("closed") || a.classList.contains("isAnimating") || (toggleNav(), a.classList.add("isAnimating"))
        })
    </script>
</body>
</html>
