<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Login</title>
</head>
<body>

<div layout:fragment="content">
    <div class="centered-card text-center">
        <form style="margin: 2rem; padding-bottom: 1rem" class="form-signin" th:action="@{/guest-login}" method="post">
            <h2>
                <i class="fa fa-lock"> </i>
                <span>GUEST LOGIN</span>
            </h2>

            <div class="form-group mt-2">
                <label for="username" class="sr-only">Username</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Username" required=""/>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Login as guest</button>
            <div class="mt-2">
                Already have an account?
                <a class="text-info" href="/login">login</a> or <a class="text-info" th:href="@{/register}">Create an account</a>
            </div>
            <div class="mt-1 text-center">
                If you continue as a guest you will be unable to spend points you have earned on your account due to security reasons.
            </div>
            <input type="hidden" name="csrfmiddlewaretoken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </div>
</div>
</body>
</html>