<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>

</head>
<body>
<div layout:fragment="content">
    <div th:if="${announcements != null}">
        <tr th:each="thread : ${announcements}">
            <div class="card card-thread mb-3">
                <div class="row">
                    <div class="col-lg-12 col-xl-1">
                        <a th:href="@{'/player/' + ${thread.author.username}}">
                            <img style="height: 125px;width:auto" th:src="@{'https://visage.surgeplay.com/full/168/' + ${thread.author.identifier.toString()} + '?overlay'}">
                        </a>
                    </div>
                    <div class="col-lg-12 col-xl-11">
                        <h3>
                            <span th:text="${thread.title}"></span>

                            <div class="tagline">
                                by <a th:style="@{'color:' + ${thread.author.getRankColor()}}" th:href="@{'/player/' + ${thread.author.username}}" th:text="${thread.author.username}"></a>
                                &bull;
                                <time th:datetime="${thread.timestamp}" data-format="ago" data-toggle="tooltip"></time>
                            </div>
                        </h3>
                        <div class="post" th:utext="${thread.formattedBody}">
                        </div>
                    </div>
                </div>

                <a class="mt-3 btn btn-primary btn-sm btn-block" th:href="${thread.getFriendlyUrl()}">READ MORE...</a>
            </div>
    </div>
</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/gh/leonardosnt/mc-player-counter/dist/mc-player-counter.min.js"></script>
