<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>

</head>
<body>
<div layout:fragment="content">
    <div class="container">
        test
    </div>
    <div th:if="${announcements != null}">
        <tr th:each="announcement : ${announcements}">
            <div class="card card-news">
                <div>
                    <div class="news-avatar">
                        <img th:src="@{'https://crafatar.com/renders/body/' + ${announcement.author.id.toString()} + '?overlay'}">
                    </div>
                    <div class="news-content">
                        <div class="card-header">
                            <td th:text="${announcement.title}"></td>
                            <div class="card-subheader">
                                by </td> <a th:href="@{'/player/' + ${announcement.author.username}}" th:text="${announcement.author.username}"></a>
                                &bull;
                                <time th:datetime="${announcement.timestamp}" data-format="ago" data-toggle="tooltip"></time>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="content" th:utext="${announcement.formattedBody}">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm btn-block" th:href="${announcement.getFriendlyUrl()}">READ MORE...</a>
                </div>
            </div>
    </div>
</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/gh/leonardosnt/mc-player-counter/dist/mc-player-counter.min.js"></script>
