<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Register</title>
</head>
<body>

<div layout:fragment="content">
    <div class="centered-card text-center">
        <h2><span>Register In-Game</span></h2>

        <p><b>Step 1:</b> Join the minecraft server "play.nasa.gg" and use the command /register [email]<br><br>/register example@youremail.com<br><br><b>Step 2: </b>Find the email from us in your inbox and click the button to continue the registration process!</p><br><br><br>
    </div>
</div>
</body>
</html>