<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Register</title>
</head>
<body>

<div layout:fragment="content">
    <div class="centered-card text-center">
        <h2><span>Register In-Game</span></h2>

        <p><b>Step 1:</b> Join "play.nasa.gg" and use the command /register [email]<br><br>/register example@youremail.com<br><br><b>Step 2: </b>Find the email from us in your inbox and click the button to continue the registration process!</p><br><br><br>
    </div>

    <div class="centered-card text-center mt-1">
        <h2><span>Register with Microsoft</span></h2>

        <p><b>Precondition:</b> You must own Minecraft Java Edition and have migrated your account to microsoft.</p><br>
        <p><b>Step 1:</b> Follow the continue with microsoft button shown below and you will be able to continue registration.<br><p>

        <a class="btn btn-primary" href="/oauth/setup/microsoft">Continue with microsfot (tetmp)</a>
    </div>

    <div class="mt-2">
        Already have an account?
        <a class="text-info" href="/login">login</a> or <a class="text-info" th:href="@{/register}">Create an account</a>
    </div>
</div>
</body>
</html>