<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<body>

<div layout:fragment="content">
    <div class="row staff-row justify-content-center">
        <div class="col staff-members text-center">
            <tr th:each="entry, stat : ${data}">
                <div class="staff-member-group" th:id="${entry.key.id}">

                    <ta class="m-1" th:each="user : ${entry.value}">
                        <a th:href="@{'/player/' + ${user.username}}" class="staff-member col">
                            <div class="staff-head text-center ml-5 mr-5">
                                <img th:src="@{'https://visage.surgeplay.com/full/168/' + ${user.id.toString()} + '?overlay'}">
                            </div>

                            <h4 style="color: #D9D9D9" th:text="${user.username}"></h4>
                            <h1 th:style="@{'color:' + ${entry.key.hexColor}}" th:text="${#strings.toUpperCase(entry.key.name)}"></h1>
                        </a>
                    </ta>
                </div>
            </tr>
        </div>
    </div>
</div>
</body>
</html>