<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="block" th:fragment="grants">
    <button type="button" class="m-2 btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create a grant</button>

    <div class="alert alert-danger" th:if="${user.grants.isEmpty()}">
        <i class="fas fa-times-circle fa-fw"></i> This player doesn't have any grants
    </div>

    <div class="card-body" th:if="${!user.grants.isEmpty()}">
        <a class="card p-1" style="background: #232323; color: var(--font-color)" th:each="grant : ${user.grants}" th:href="@{'#collapseGrant-' + ${grant.id.toString().split('-')[0]}}" data-toggle="collapse" aria-controls="collapseBan">
            <div class="container-fluid">
                <div class="container-fluid d-flex d-inline d-block p-2" th:if="${grant.active}">
                    &zwnj;<img height="16" th:if="${grant.issuedBy != null}" th:src="@{'https://crafatar.com/renders/head/' + ${grant.issuedBy.toString()} + '?size=16?overlay'}">
                    <img height="16" th:if="${grant.issuedBy == null}" src="https://crafatar.com/renders/head/f78a4d8d-d51b-4b39-98a3-230f2de0c670?size=16?overlay">

                    &zwnj; <p style="margin-bottom: 0" th:if="${grant.issuedBy != null}" th:class="${grant.issuedBy.getRankColor()}" th:text="${grant.issuedBy.name}"></p>
                    &zwnj; <p style="margin-bottom: 0" th:if="${grant.issuedBy == null}">Console</p>

                    &zwnj; granted

                    &zwnj; <img height="16" th:src="@{'https://crafatar.com/renders/head/' + ${user.identifier.toString()} + '?size=16?overlay'}">
                    <p style="margin-bottom: 0;color: " th:styleappend="${user.getRankColor()}" th:text="${user.username}"></p>

                    &zwnj; the

                    &zwnj; <p style="margin-bottom: 0" th:text="${grant.rank.id}"></p>

                    &zwnj; rank for

                    &zwnj; <p style="margin-bottom: 0" th:text="${grant.issuedReason}"></p>
                </div>

                <strike class="container-fluid d-flex d-inline d-block p-2" th:if="${!grant.active}">
                    &zwnj; &zwnj;<img height="16" th:if="${grant.issuedBy != null}" th:src="@{'https://crafatar.com/renders/head/' + ${grant.issuedBy.toString()} + '?size=16?overlay'}">
                    <img height="16" th:if="${grant.issuedBy == null}" src="https://crafatar.com/renders/head/f78a4d8d-d51b-4b39-98a3-230f2de0c670?size=16?overlay">

                    &zwnj; <p style="margin-bottom: 0" th:if="${grant.issuedBy != null}" th:class="${grant.issuedBy.getRankColor()}" th:text="${grant.issuedBy.name}"></p>
                    &zwnj; <p style="margin-bottom: 0" th:if="${grant.issuedBy == null}">Console</p>

                    &zwnj; granted

                    &zwnj; <img height="16" th:src="@{'https://crafatar.com/renders/head/' + ${user.identifier.toString()} + '?size=16?overlay'}">
                    <p style="margin-bottom: 0;color: " th:styleappend="${user.getRankColor()}" th:text="${user.username}"></p>

                    &zwnj; the

                    &zwnj; <p style="margin-bottom: 0" th:text="${grant.rank.id}"></p>

                    &zwnj; rank for

                    &zwnj; <p style="margin-bottom: 0" th:text="${grant.issuedReason}"></p>
                </strike>
            </div>

            <div class="container-fluid collapse ml-3 mr-3" th:id="@{'collapseGrant-' + ${grant.id.toString().split('-')[0]}}">
                <strong>Issuer:</strong>
                <span th:if="${grant.issuedBy != null}" style="margin-bottom: 0;" th:styleappend="@{'color: ' + ${grant.issuedBy.getRankColor()}}" th:text="${grant.issuedBy.name}"></span>
                <span th:if="${grant.issuedBy == null}">Console</span>


                <br>
                <strong>Reason:</strong>
                <span style="margin-bottom: 0;" th:text="${grant.issuedReason}"></span>

            </div>
        </a>
    </div>
</div>
</body>
</html>