<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="block" th:fragment="punishments">
    <button type="button" class="m-2 btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create a punishment</button>

    <div class="alert alert-danger" th:if="${user.punishments.isEmpty()}">
        <i class="fas fa-times-circle fa-fw"></i> This player doesn't have any punishments
    </div>

    <div class="card-body" th:if="${!user.punishments.isEmpty()}">
        <div class="card p-1" style="background: var(--extraBackground)" th:each="punishment : ${user.punishments}">
            <div class="container d-flex d-inline d-block p-2" th:if="${punishment.isActive()}">
                &zwnj;<img height="16" th:if="${punishment.issuedBy != null}" th:src="@{'https://crafatar.com/renders/head/' + ${punishment.issuedBy.toString()} + '?size=16?overlay'}">
                <img height="16" th:if="${punishment.issuedBy == null}" src="https://crafatar.com/renders/head/f78a4d8d-d51b-4b39-98a3-230f2de0c670?size=16?overlay">

                &zwnj; <p style="margin-bottom: 0" th:class="${punishment.getIssuedByStyles()}" th:text="${punishment.getIssuedByName()}"></p>

                &zwnj; &zwnj;<p style="margin-bottom: 0" th:text="${punishment.getType().getAction()}"></p>

                &zwnj; &zwnj;<img height="16" th:src="@{'https://crafatar.com/renders/head/' + ${user.id.toString()} + '?size=16?overlay'}">
                <p style="margin-bottom: 0;color: " th:styleappend="${user.getRankColor()}" th:text="${user.username}"></p>

                &zwnj; for

                &zwnj; <p style="margin-bottom: 0" th:text="${punishment.reason}"></p>
            </div>

            <strike class="container d-flex d-inline d-block p-2" th:if="${!punishment.isActive()}">
                &zwnj; &zwnj;<img height="16" th:if="${punishment.issuedBy != null}" th:src="@{'https://crafatar.com/renders/head/' + ${punishment.issuedBy.toString()} + '?size=16?overlay'}">
                <img height="16" th:if="${punishment.issuedBy == null}" src="https://crafatar.com/renders/head/f78a4d8d-d51b-4b39-98a3-230f2de0c670?size=16?overlay">

                &zwnj; <p style="margin-bottom: 0" th:class="${punishment.getIssuedByStyles()}" th:text="${punishment.getIssuedByName()}"></p>

                &zwnj; &zwnj;<p style="margin-bottom: 0" th:text="${punishment.getType().getAction()}"></p>

                &zwnj; &zwnj;<img height="16" th:src="@{'https://crafatar.com/renders/head/' + ${user.id.toString()} + '?size=16?overlay'}">
                <p style="margin-bottom: 0;color: " th:styleappend="${user.getRankColor()}" th:text="${user.username}"></p>

                &zwnj; for

                &zwnj; <p style="margin-bottom: 0" th:text="${punishment.reason}"></p>
            </strike>
        </div>
    </div>
</div>
</body>
</html>