<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>

</head>
<body>
<div layout:fragment="content">
    <ul class="breadcrumb text-capitalize">
        <li class="breadcrumb-item">
            <a href="/">
                <i class="fas fa-home fa-fw"></i>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a href="/shop">Shop</a>
        </li>
    </ul>

    <div class="body">
        <div class="content">
            <div class="panel panel-default">
                <div class="panel-body">
                    Welcome to the official Nyte Store. To begin shopping, please select a category from the sidebar. Please note that ranks cost a one-time fee and are unlocked permanently!

                    <div class="body-obj">
                        <p class="title-of-subject support">Support</p>
                        <p>Need any questions answered before checkout? Waited more than 20 minutes but your package
                            still has not arrived? Ask the community/staff on Discord, or for payment support, submit a
                            support ticket on our website.</p>
                        <a class="support-button" href="/status">Order History</a>
                        <a class="support-button" href="https://discord.gg/nytegg">Discord Server</a>
                    </div>
                    <div class="body-obj">
                        <p class="title-of-subject refund">Refund policy</p>
                        <div>
                            <p>All payments are final and non-refundable.
                                Attempting a chargeback or opening a PayPal dispute will result in <b>permanent</b> and
                                irreversible <b>banishment</b> from all of our servers, and other minecraft stores.
                                <br><br>
                                It could take between 1-20 minutes for your purchase to be credited in-game. If you are
                                still not credited after this time period, please open a support ticket on our forums
                                with
                                proof of purchase and we will look into your issue.</p>
                        </div>
                        <a class="terms-button triplezone__toogle--modal" data-remote="/terms" href="javascript;;">Terms and Conditions</a>
                        <a class="terms-button triplezone__toogle--modal" href="/tebex-privacy" data-remote="/tebex-privacy" onclick="if(showModal) { showModal(&quot;/tebex-privacy&quot;); return false; }">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="shop/sidebar :: sidebar"></div>
    </div>
</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/gh/leonardosnt/mc-player-counter/dist/mc-player-counter.min.js"></script>
