<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>

</head>
<body>
<div layout:fragment="content">
    <ul class="breadcrumb text-capitalize">
        <li class="breadcrumb-item">
            <a href="/">
                <i class="fas fa-home fa-fw"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="/shop">Shop</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="/shop/payment-pending">Payment Pending</a>
        </li>
    </ul>


    <div class="body">
        <div class="content">
            <div class="panel panel-default">
                Your payment has been set to pending. You can view your payments <a href="/profile/payments">here</a>. Your payment could take up to an hour to process. If you have any problems you payment please create a support ticket <a href="/support/create">here</a>.
            </div>
        </div>
    </div>
    <div th:insert="shop/sidebar :: sidebar"></div>
</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/gh/leonardosnt/mc-player-counter/dist/mc-player-counter.min.js"></script>
