<div th:fragment="sidebar" class="sidebar">
    <div class="panel panel-default module">
        <div class="panel-heading">Top Customer This Month</div>
        <div class="panel-body">
            <div class="top-donator">
                <div class="avatar">
                    <img src="https://crafatar.com/renders/body/392b3a27d17f4a02be8a2302726946c1" width="40">
                </div>
                <div class="info">
                    <div class="ign">Foraged</div>
                    <div class="amount">
                        Donated the most

                        this month.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${session.user != null || session.guest != null}" th:with="user=${session.user != null ? session.user : (session.guest != null ? session.guest : null)}" class="panel panel-default module">
        <div class="panel-heading">Your basket</div>
        <div class="panel-body">
            <div class="packages-row">
                <div th:each="item : ${user.basket.items}" class="package">
                    <div th:with="package=${item.item}" class="info">
                        <div class="text text-left">
                            <div class="name">
                                <h3 class="package-name">
                                    <a th:text="${package.name}" class="toggle-modal toggle-tooltip" title="" data-original-title="Click for more details"></a>
                                </h3>
                            </div>
                            <div class="price">
                                <span th:if="${package.sale == null || !package.sale.active}" th:text="${'Price: ' + package.price}"></span>
                            </div>
                        </div>
                        <div class="button">
                            <div class="package-actions displayblock">
                                <div class="package-add">
                                    <div>
                                        <span style="float: left;margin-left: 3px">
                                            <form method="post" th:action="@{'/shop/basket/' + ${categoryId} + '/' + ${package.id} + '/update'}" class="quantity-count">
                                                Quantity
                                                <input style="color: var(--font-color)" name="quantity" min="1" max="99" class="package-count basket-packageQuantity" th:value="${item.quantity}">
                                            </form>
                                        </span>

                                        <span style="float: left;margin-left: 10px">
                                            <a th:href="@{'/shop/basket/' + ${categoryId} + '/' + ${package.id} + '/remove'}" class="btn btn-sm btn-danger btn-block"><i class="fas fa-trash"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${user.basket.isEmpty()}" class="col-12">
                    <span>Your basket is currently empty!</span>
                </div>
            </div>
            <div th:if="${!user.basket.isEmpty()}" class="top-donator">
                <h3 class="info package-name">
                    Total: $<span th:text="${user.basket.total}"></span>
                </h3>
                <br>

                <div id="smart-button-container">
                    <a th:if="${session.user != null}" style="visibility: visible;
                            height: 45px;
                            margin-bottom: 10px;
                            width: 100%;
                            transition: all 0.2s ease-in-out 0s;
                            display: inline-flex;
                            -webkit-box-pack: center;
                            justify-content: center;
                            -webkit-box-align: center;
                            align-items: center;
                            border-radius: 5px;
                            cursor: pointer;
                            font-weight: 600;
                            background-color: rgb(84,190,129);
                            color: rgb(255, 255, 255);"
                       href="/shop/basket/points">
                        Continue with Points <i class="ml-2 fas fa-trophy"></i>
                    </a>

                    <a style="visibility: visible;
                            height: 45px;
                            margin-bottom: 10px;
                            width: 100%;
                            transition: all 0.2s ease-in-out 0s;
                            display: inline-flex;
                            -webkit-box-pack: center;
                            justify-content: center;
                            -webkit-box-align: center;
                            align-items: center;
                            border-radius: 5px;
                            cursor: pointer;
                            font-weight: 600;
                            background-color: rgb(22, 82, 240);
                            color: rgb(255, 255, 255);"
                       href="/shop/basket/crypto">
                        Continue with Coinbase
                    </a>

                    <div style="text-align: center;">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
                <script src="https://www.paypal.com/sdk/js?client-id=AV_0lkkcwQf_iwBjZkd2y1ODVNen-klzZ1erVOx7C_tTYfW1UdXGi0uvHctbmEXo0Ljk4AqeMLoCgcrc&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
                <script th:inline="javascript">
                    function initPayPalButton() {
                        var total = [[${session.user.basket.total}]];

                        paypal.Buttons({
                            style: {
                                shape: 'rect',
                                color: 'gold',
                                layout: 'vertical',
                                label: 'paypal',

                            },

                            createOrder: function(data, actions) {
                                return actions.order.create({
                                    purchase_units: [{
                                        "amount": {
                                            "currency_code": "USD",
                                            "value": total
                                        }
                                    }]
                                });
                            },

                            onClick: function(data, actions) {

                            },

                            onApprove: function(data, actions) {
                                return actions.order.capture().then(function(orderData) {

                                    // Full available details
                                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                                    const element = document.getElementById('paypal-button-container');
                                    element.innerHTML = `
                                            <div class="circle-loader">
                                              <div class="checkmark" style="display: none"></div>
                                            </div>`;

                                    setTimeout(function () {
                                        element.innerHTML = `
                                                    <div class="circle-loader load-complete">
                                                      <div class="checkmark draw" style="display: block"></div>
                                                    </div>`;
                                    }, 1000)

                                    setTimeout(function () {
                                        window.location.href = "/shop/purchase-complete"
                                    }, 3000)

                                    // Or go to another URL:  actions.redirect('thank_you.html');

                                });
                            },

                            onError: function(err) {
                                console.log(err);

                                const element = document.getElementById('paypal-button-container');
                                element.innerHTML = '';
                                element.innerHTML = `
                                                <div class="circle-loader load-error">
                                                  <div class="checkmark error" style="display: block"></div>
                                                </div>`;
                            }
                        }).render('#paypal-button-container');
                    }
                    initPayPalButton();
                </script>
            </div>
        </div>
    </div>

    <iframe style="width: 100%" src="https://discord.com/widget?id=862093951120310372&theme=dark" width="335" height="300" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    <a style="width: 100%" class="twitter-timeline" data-width="335" data-height="545" data-theme="dark" href="https://twitter.com/playnasagg?ref_src=twsrc%5Etfw">Tweets by playnasagg</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
